#image {
  width: 100%;
}
body {
  padding-top: 120px;
}
#textunderimage {
  padding-top: 15px;
}
.Lvl2 {
  color: green;
}
.Lvl3 {
  color: blue;
}
.Lvl4 {
  color: purple;
}
.Lvl5 {
  color: orange;
}
.Lvl6 {
  color: rgb(192, 66, 54);
}
.Lvl7 {
  color: rgb(236, 97, 120)
}
.Lvl8 {
  color: cyan
}
